<style>
.container{width:100%;
  margin:auto;
  text-align: center; /* 将容器中的内容居中对齐 */
}
@media (min-width:600px) {.container{width: 80%;}}
@media (min-width:768px) {.container{width: 60%;}}
@media (min-width:1024px) {.container{width: 50%;}}
.btn-enter {
      font-weight: bold; /* 设置按钮文本加粗 */
}
</style>

<div class="container">
<h1>Welcome to Singapore , NTU</h1>

<p><img src="https://seopic.699pic.com/photo/50035/1905.jpg_wh1200.jpg"
  width="300" height="200"></p>

<form action="/main" method="post">
  <h2>My name is Jay, may I know your name : </h2>
  <input type = "text" name="r" style="width:100px;height:50px">
  <p><input type = "submit" value="Enter" class="btn-enter" style="width:100px;height:50px"></p>
</form>
</div>

